<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todak">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".self_diagnosis_lung_result"></activity>
        <activity android:name=".Doubt_Cold_Question.doubt_Cold_Question"/>
        <activity android:name=".Doubt_Cold_Question.doubt_Cold_Result"/>
        <activity android:name=".self_diagnosis_lung" />
        <activity android:name=".MapsActivity5" />
        <activity android:name=".MapsActivity4" />
        <activity android:name=".MapsActivity3" />
        <activity android:name=".MapsActivity2" />
        <activity android:name=".pathActivity" />
        <activity android:name=".MapsActivity1" />
        <activity android:name=".bronchitis.doubt_bronchitis_Question"/>
        <activity android:name=".bronchitis.doubt_bronchitis_Result"/>
        <activity android:name=".DoubtCorona.doubt_Corona_Result" />
        <activity android:name=".DoubtCorona.doubt_Corona_Question" />
        <activity android:name=".Tuberculosis.doubt_Tuberculosis_Result"/>
        <activity android:name=".Tuberculosis.doubt_Tuberculosis_Question"/>
        <activity android:name=".Cerebral_Infarction.doubt_cerebral_infarction_Question"/>
        <activity android:name=".Cerebral_Infarction.doubt_cerebral_infarction_Result"/>
        <activity android:name=".HospitalDiary" />
        <activity android:name=".self_diagnosis" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".DoubtCorona.Disease_search" />
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>